footer {
    background-color: #505050;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 1rem;
}

.general-info-container {
    width: 70%;
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}

.social-container {
    width: 70%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 2rem;
    text-decoration: none;

}

.link-container {
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.footer-logo img {
    width: 50px;
    margin-bottom: 20px;
}

.footer-social a {
    margin: 0 10px;
}

.footer-social img {
    width: 30px;
    height: 30px;
}

.footer-links,
.footer-extra-links {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.footer-links a,
.footer-extra-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

/* .footer-links a:hover,
.footer-extra-links a:hover {
    text-decoration: underline;
} */

.footer-back-to-top {
    position: absolute;
    top: 0px;
    right: 10px;
}

.footer-back-to-top a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer-back-to-top a:hover {
    text-decoration: underline;
}