header {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(144, 144, 144);
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.rightBarNavigation {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 90%;
}

/* Basic styles for demonstration */
#languageOption {
    position: relative;
    display: inline-block;
}

#activeLanguage {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 4px;
    background-color: rgb(194, 194, 194);
}

#languageSelect {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(35, 35, 35);
    border: 1px solid #ccc;
    z-index: 1000;
    width: 150px;
    /* margin-top: 5px; */
    border-radius: 0 0 4px 4px;
}

#languageSelect a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#languageSelect a:hover {
    background-color: #686868;
}