.section1 {
    margin: 0 auto;
    background-color: red;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;

}

.fetch-and-create-innerhtml-no-export {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1rem;
    column-gap: 0.4rem;

    h2 {
        grid-column: 1 /span 4;
    }

}

.item-card {
    width: 200px;
    height: 360px;
    background-color: white;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    display: grid;
    align-items: center;

    img {
        width: 180px;
        height: 210px;
    }

    h3 {
        height: 50px;
    }
}



.section2 {
    margin: 0 auto;
    background-color: green;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;

}

.fetch-and-foreach-to-create-html {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1rem;
    column-gap: 0.4rem;

}

.parent-div {
    width: 200px;
    height: 360px;
    background-color: white;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    display: grid;
    align-items: center;


    img {
        width: 180px;
        height: 210px;
    }

    h3 {
        height: 50px;
    }
}

.section3 {
    background-color: orange;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
}

.fetch-and-create-innehtml-via-export {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1rem;
    column-gap: 0.4rem;

}

.flex-sale {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

    p {
        color: red;
        text-decoration: line-through;
    }

    .current-price {
        color: blue;
        text-decoration: none;
    }
}



.section4 {
    background-color: rgb(163, 0, 188);
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;

    h2 {
        width: 100%;
    }

    .on-sale-cont {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 1rem;
        column-gap: 0.4rem;
    }
}


.section5 {
    background-color: rgb(0, 225, 241);
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;

    h2 {
        width: 100%;
    }

    .favorite {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 1rem;
        column-gap: 0.4rem;
    }
}